<% include partials/_header %>

<div>
  <h1>&nbsp&nbspTiny Urls</h1>
  <br>
  <ul>
    <% for (var key in urls) { %>
    <li> <a href="/urls/<%= key %>"><%= urls[key] %> : <%= key %></a>
      <form id="deleteURL" action="/urls/<%= key %>/delete" method="POST">
        <input type="hidden" name="delete" value="<%= key %>">
        <button>x</button>
      </form></li>
    <% } %>
    <br>
    <a class="badge badge-primary nav-button" href="/urls/new">Submit URL For Shortening</a>
  </ul>
</div>

<% include partials/_footer %>
